@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input,
textarea,
button {
  font-family: inherit;
}
